[versions]
compileSdk = "33"
minSdk = "26"
targetSdk = "33"
appVersion = "1.0.0"
versionCode = "10000"
desugarJdk = "2.0.3"

gradleplugin = "7.4.2"

kotlin = "1.8.10"
kotlinx-serialization = "1.5.0"
kotlinx-serialization-converter = "0.8.0"
kotlinx-datetime = "0.4.0"
kotlinx-coroutines = "1.6.4"

androidx-core = "1.9.0"
androidx-appcompat = "1.6.1"
androidx-activity = "1.7.0"
androidx-fragment = "1.5.6"
androidx-lifecycle = "2.6.1"
androidx-contstraintlayout = "2.1.4"
androidx-startup = "1.1.1"
androidx-paging = "3.1.1"
androidx-security = "1.0.0"
androidx-splash = "1.0.0"
androidx-work = "2.8.1"
androidx-legacy = "1.0.0"
androidx-hilt-work = "1.0.0"
androidx-test-junit = "1.1.5"
androidx-test-espresso = "3.5.1"

google-services-plugin = "4.3.15"
google-crashlytics-plguin = "2.9.4"
google-firebase = "31.4.0"
google-material = "1.8.0"
square-javapoet = "1.13.0"

retrofit = "2.9.0"
okhttp = "4.10.0"
timber = "5.0.1"
kakao = "2.13.0"
processphoenix = "2.1.2"

junit = "4.13.2"

hilt = "2.45"

[libraries]
android-build = { module = "com.android.tools.build:gradle", version.ref = "gradleplugin" }
kotlin-gradle = { group = "org.jetbrains.kotlin", name = "kotlin-gradle-plugin", version.ref = "kotlin" }
hilt-gradle = { group = "com.google.dagger", name = "hilt-android-gradle-plugin", version.ref = "hilt" }
square-javapoet = { group = "com.squareup", name = "javapoet", version.ref = "square-javapoet" }

kotlin = { group = "org.jetbrains.kotlin", name = "kotlin-stdlib", version.ref = "kotlin" }
kotlin-serialization-json = { group = "org.jetbrains.kotlinx", name = "kotlinx-serialization-json", version.ref = "kotlinx-serialization" }
kotlin-coroutines = { group = "org.jetbrains.kotlinx", name = "kotlinx-coroutines-android", version.ref = "kotlinx-coroutines" }
kotlin-datetime = { group = "org.jetbrains.kotlinx", name = "kotlinx-datetime", version.ref = "kotlinx-datetime" }
androidx-core = { module = "androidx.core:core-ktx", version.ref = "androidx-core" }
androidx-appcompat = { module = "androidx.appcompat:appcompat", version.ref = "androidx-appcompat" }
androidx-lifecycle-viewmodel = { module = "androidx.lifecycle:lifecycle-viewmodel-ktx", version.ref = "androidx-lifecycle" }
androidx-startup = { module = "androidx.startup:startup-runtime", version.ref = "androidx-startup" }
androidx-security = { module = "androidx.security:security-crypto", version.ref = "androidx-security" }
androidx-constraintlayout = { module = "androidx.constraintlayout:constraintlayout", version.ref = "androidx-contstraintlayout" }
androidx-lifecycle-java = { module = "androidx.lifecycle:lifecycle-common-java8", version.ref = "androidx-lifecycle" }
androidx-lifecycle-runtime = { module = "androidx.lifecycle:lifecycle-runtime-ktx", version.ref = "androidx-lifecycle" }
androidx-lifecycle-livedata = { module = "androidx.lifecycle:lifecycle-livedata-ktx", version.ref = "androidx-lifecycle" }
androidx-paging = { module = "androidx.paging:paging-runtime", version.ref = "androidx-paging" }
androidx-work = { module = "androidx.work:work-runtime-ktx", version.ref = "androidx-work" }
androidx-fragment = { module = "androidx.fragment:fragment-ktx", version.ref = "androidx-fragment" }
androidx-splash = { module = "androidx.core:core-splashscreen", version.ref = "androidx-splash" }
androidx-legacy = { module = "androidx.legacy:legacy-support-v4", version.ref = "androidx-legacy" }
androidx-hilt-work = { module = "androidx.hilt:hilt-work", version.ref = "androidx-hilt-work" }
androidx-hilt-work-compiler = { module = "androidx.hilt:hilt-compiler", version.ref = "androidx-hilt-work" }
desugarLibs = { module = "com.android.tools:desugar_jdk_libs", version.ref = "desugarJdk" }

material = { module = "com.google.android.material:material", version.ref = "google-material" }

junit = { module = "junit:junit", version.ref = "junit" }
androidx-test-junit = { module = "androidx.test.ext:junit", version.ref = "androidx-test-junit" }
androidx-test-espresso = { module = "androidx.test.espresso:espresso-core", version.ref = "androidx-test-espresso" }

okhttp-bom = { module = "com.squareup.okhttp3:okhttp-bom", version.ref = "okhttp" }
okhttp = { module = "com.squareup.okhttp3:okhttp" }
okhttp-logging-interceptor = { module = "com.squareup.okhttp3:logging-interceptor" }
crashlytics-plugin = { module = "com.google.firebase:firebase-crashlytics-gradle", version.ref = "google-crashlytics-plguin" }
firebase = { module = "com.google.firebase:firebase-bom", version.ref = "google-firebase" }
firebase-analytics = { module = "com.google.firebase:firebase-analytics-ktx" }
firebase-crashlytics = { module = "com.google.firebase:firebase-crashlytics-ktx" }
retrofit = { module = "com.squareup.retrofit2:retrofit", version.ref = "retrofit" }
retrofit-kotlin-serialization-converter = { group = "com.jakewharton.retrofit", name = "retrofit2-kotlinx-serialization-converter", version.ref = "kotlinx-serialization-converter" }

timber = { module = "com.jakewharton.timber:timber", version.ref = "timber" }

hilt = { module = "com.google.dagger:hilt-android", version.ref = "hilt" }
hilt-core = { module = "com.google.dagger:hilt-core", version.ref = "hilt" }
hilt-kapt = { module = "com.google.dagger:hilt-compiler", version.ref = "hilt" }
hilt-plugin = { group = "com.google.dagger", name = "hilt-android-gradle-plugin", version.ref = "hilt" }

kakao-login = { module = "com.kakao.sdk:v2-user", version.ref = "kakao" }
processphoenix = { module = "com.jakewharton:process-phoenix", version.ref = "processphoenix" }

[bundles]

kotlin = ["kotlin", "kotlin-coroutines", "kotlin-serialization-json", "kotlin-datetime"]
androidx = [
    "androidx-appcompat",
    "androidx-constraintlayout",
    "androidx-core",
    "androidx-lifecycle-viewmodel",
    "androidx-security",
    "androidx-paging",
    "androidx-lifecycle-java",
    "androidx-work",
    "androidx-legacy",
    "androidx-fragment",
    "androidx-lifecycle-runtime",
    "androidx-lifecycle-livedata"
]

okhttp = ["okhttp", "okhttp-logging-interceptor"]
retrofit = ["retrofit", "retrofit-kotlin-serialization-converter"]
firebase = ["firebase", "firebase", "firebase-crashlytics", "firebase-analytics"]

[plugins]
android-application = { id = "com.android.application", version.ref = "gradleplugin" }
android-library = { id = "com.android.library", version.ref = "gradleplugin" }
kotlin-android = { id = "org.jetbrains.kotlin.android", version.ref = "kotlin" }
kotlin-kapt = { id = "org.jetbrains.kotlin.kapt", version.ref = "kotlin" }
google-services = { id = "com.google.gms.google-services", version.ref = "google-services-plugin" }
google-firebase-crashlytics = { id = "com.google.firebase.crashlytics", version.ref = "google-crashlytics-plguin" }
dagger-hilt = { id = "com.google.dagger.hilt.android", version.ref = "hilt" }
kotlinx-serialization = { id = "org.jetbrains.kotlin.plugin.serialization", version.ref = "kotlin" }
